{% load static %}
<script type="module" src="{% static 'levenshteinDistance.js' %}"></script>
<link rel="stylesheet" href="{% static 'recipes/food-picker.css' %}">
<script>
  // populate foodNames from Django
  var foodNames = {};
  var foodProperties = {};
  let props = {};
  {% for food in foods %}
    foodNames[{{ food.id }}] = "{{ food.food_name }}";
    props = {};
    // value format - [value, per how many grams, decimal places]
    props['kcal'] = [{{food.kcal_per_100g}}, 100, 0];
    props['carbs'] = [{{food.carbs_per_100g}}, 100, 1];
    props['protein'] = [{{food.protein_per_100g}}, 100, 1];
    props['fat'] = [{{food.fat_per_100g}}, 100, 1];
    props['price'] = [{{food.cost_per_kg}}, 1000, 2];
    foodProperties[{{food.id}}] = props;
  {% endfor %}

  // key - food ID, value - weight
  var pickedFoods = {};
  {% if recipe %}
    {% for food in recipe.foods %}
        pickedFoods[Number({{ food.food.id }})] = Number({{ food.quantity_grams }});
    {% endfor %}
  {% endif %}

  function pickFood(foodId, foodWeight){
    if(!(foodId in pickedFoods)) pickedFoods[foodId] = Number(0);
    pickedFoods[foodId] += Number(foodWeight);
    populatePickedFoods();
  }

  function unpickFood(foodId){
    delete pickedFoods[foodId];
    populatePickedFoods();
  }

  function createFoodWidget(foodId, foodWeight, isPicked){    
    let foodName = foodNames[foodId];

    let foodDiv = document.createElement('div');
    foodDiv.className = "food";

    let foodNameText = document.createElement('div');
    foodNameText.className = "food-name";
    foodNameText.textContent = foodName;
    foodDiv.append(foodNameText);

    let foodWeightText = document.createElement('div');
    foodWeightText.className = 'food-weight';
    foodWeightText.textContent = foodWeight + "g";
    foodDiv.append(foodWeightText);

    for(let propName in foodProperties[foodId]){
      let foodPropDiv = document.createElement('div');
      foodPropDiv.className = 'food-property';

      let foodPropTitle = document.createElement('div');
      foodPropTitle.className = 'food-property-title';
      foodPropTitle.textContent = propName;
      foodPropDiv.append(foodPropTitle);

      let foodPropValue = document.createElement('div');
      foodPropValue.className = 'food-property-value';
      let foodProp = foodProperties[foodId][propName];
      foodPropValue.textContent = (foodProp[0] * foodWeight / foodProp[1]).toFixed(foodProp[2]);
      foodPropDiv.append(foodPropValue);

      foodDiv.append(foodPropDiv);
    }

    let foodBtn = document.createElement('button');
    foodBtn.className = "add-button food-btn";
    if(isPicked){
      foodBtn.textContent = 'x';
      foodBtn.onclick = function () {
        unpickFood(foodId);
      }
    }
    else{
      foodBtn.textContent = '+';
      foodBtn.onclick = function () {
        let tempFoodWeight = foodWeight;
        pickFood(foodId, tempFoodWeight);
      }
    }
    foodDiv.append(foodBtn);

    return foodDiv;
  }

  function populatePickedFoods(){
    divPickedFoods.textContent = "";
    for(let foodId in pickedFoods){
      let foodWeight = pickedFoods[foodId];      
      divPickedFoods.append(createFoodWidget(foodId, foodWeight, true));
    }
  }

  var levenshteinDistance;
  let levenshteinDistanceModule = import("{% static "levenshteinDistance.js" %}")
    .then((module) => {
      levenshteinDistance = module.default;
    });


  function populateFoodList(){
    foodListDiv.textContent = "";
    let query = foodSearch.value;

    function fuzzyDistance(q, s){
      let result = levenshteinDistance(q, s);
      for(i = 0; i <= s.length - q.length; i++){
        result = Math.min(result, levenshteinDistance(q, s.substring(i, i + q.length)) + i * 0.01);
      }
      return result;
    }

    function foodSearchCompare(foodA, foodB){
      a = foodA.name;
      b = foodB.name;
      let aDistance = fuzzyDistance(query.toLowerCase(), a.toLowerCase());
      let bDistance = fuzzyDistance(query.toLowerCase(), b.toLowerCase());
      //console.log(a, b, aDistance, bDistance);
      return aDistance - bDistance;
    }

    // convert foodNames dict to a foodList list
    foodList = [];
    for(foodId in foodNames){
      let food = new Object();
      food.id = foodId;
      food.name = foodNames[foodId];
      foodList.push(food);
    }

    if(query){
      foodList.sort(foodSearchCompare);
    }

    for(i = 0; i < foodList.length; i++){
      let foodId = Number(foodList[i].id);
      let foodWeight = document.getElementById("foodWeightGrams").value ?? 0;      
      foodListDiv.append(createFoodWidget(foodId, foodWeight, false));
    }
  }      

  function addFoodDataToPost(formId){
    let formData = document.forms[formId]["picked_foods"];
    formData.value = JSON.stringify(pickedFoods);
  }
</script>  