{% load static %}
<script type="module" src="{% static "levenshteinDistance.js" %}"></script>
<script>
  // populate foodNames from Django
  var foodNames = {};
  {% for food in foods %}
    foodNames[{{ food.id }}] = "{{ food.food_name }}";
  {% endfor %}

  // key - food ID, value - weight
  var pickedFoods = {};

  function pickFood(foodId, foodWeight){
    if(!(foodId in pickedFoods)) pickedFoods[foodId] = Number(0);
    pickedFoods[foodId] += Number(foodWeight);
    populatePickedFoods();
  }

  function unpickFood(foodId){
    delete pickedFoods[foodId];
    populatePickedFoods();
  }

  function populatePickedFoods(){
    divPickedFoods.textContent = "";
    for(let foodId in pickedFoods){
      let foodWeight = pickedFoods[foodId];
      let foodName = foodNames[foodId];

      let divPickedFood = document.createElement("div");
      divPickedFood.className = "food";
      let pickedFoodNameText = document.createElement("div");
      pickedFoodNameText.className = "picked-food-name";
      pickedFoodNameText.textContent = foodName;
      let pickedFoodWeightText = document.createElement("div");
      pickedFoodWeightText.className = "picked-food-weight";
      pickedFoodWeightText.textContent = foodWeight + "g";
      let pickedFoodDeleteBtn = document.createElement("button");
      pickedFoodDeleteBtn.className = "add-button";
      pickedFoodDeleteBtn.textContent = "x";
      pickedFoodDeleteBtn.onclick = function () {
        let foodIdCopy = foodId;
        unpickFood(foodIdCopy);
      };

      divPickedFood.append(pickedFoodNameText);
      divPickedFood.append(pickedFoodWeightText);
      divPickedFood.append(pickedFoodDeleteBtn);
      divPickedFoods.append(divPickedFood);
    }
  }

  var levenshteinDistance;
  let levenshteinDistanceModule = import("{% static "levenshteinDistance.js" %}")
    .then((module) => {
      levenshteinDistance = module.default;
    });


  function populateFoodList(){
    foodListDiv.textContent = "";
    let query = foodSearch.value;

    function fuzzyDistance(q, s){
      let result = levenshteinDistance(q, s);
      for(i = 0; i <= s.length - q.length; i++){
        result = Math.min(result, levenshteinDistance(q, s.substring(i, i + q.length)) + i * 0.01);
      }
      return result;
    }

    function foodSearchCompare(foodA, foodB){
      a = foodA.name;
      b = foodB.name;
      let aDistance = fuzzyDistance(query.toLowerCase(), a.toLowerCase());
      let bDistance = fuzzyDistance(query.toLowerCase(), b.toLowerCase());
      //console.log(a, b, aDistance, bDistance);
      return aDistance - bDistance;
    }

    // convert foodNames dict to a foodList list
    foodList = [];
    for(foodId in foodNames){
      let food = new Object();
      food.id = foodId;
      food.name = foodNames[foodId];
      foodList.push(food);
    }

    if(query){
      foodList.sort(foodSearchCompare);
    }

    for(i = 0; i < foodList.length; i++){
      let foodName = foodList[i].name;
      let foodId = Number(foodList[i].id);
      let foodDiv = document.createElement("div");
      foodDiv.className = "food";
      let foodTextDiv = document.createElement("div");
      foodTextDiv.className = "food-text";
      foodTextDiv.textContent = foodName;
      let foodAddBtn = document.createElement("button");
      foodAddBtn.className = "add-button";
      foodAddBtn.onclick = function () { 
        let foodWeight = document.getElementById("foodWeightGrams").value ?? 0;
        pickFood(foodId, foodWeight); 
      };
      foodAddBtn.textContent = "+";

      foodDiv.append(foodTextDiv);
      foodDiv.append(foodAddBtn);
      foodListDiv.append(foodDiv);
    }
  }      

  function addFoodDataToPost(formId){
    let formData = document.forms[formId]["picked_foods"];
    formData.value = JSON.stringify(pickedFoods);
  }
</script>  