{% extends "recipes/master.html" %}

{% block title %}New Recipe{% endblock %}

{% block head %}
  {% include "recipes/food-picker-head.html" %}
{% endblock %}
    
{% block content %}
  <form name="newRecipeForm" action="new-recipe" method="post" onsubmit="addFoodDataToPost('newRecipeForm')">
    {% csrf_token %}
    {{ recipe_form }}
    <input type="hidden" name="picked_foods" value="" id="picked_foods">
    <input type="submit" value="OK">
  </form>  
  {% include "recipes/food-picker.html" %}
{% endblock %}