<html>
  <head>
    <meta charset="utf-8">
    <title>New Recipe</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "recipes/style.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script type="module" src="{% static "levenshteinDistance.js" %}"></script>
    <script>
      var pickedFoods = {};

      function pickFood(foodName, foodWeight){
        if(!(foodName in pickedFoods)) pickedFoods[foodName] = Number(0);
        pickedFoods[foodName] += Number(foodWeight);
        populatePickedFoods();
      }

      var levenshteinDistance;
      let levenshteinDistanceModule = import("{% static "levenshteinDistance.js" %}")
        .then((module) => {
          levenshteinDistance = module.default;
        });
      

      var foodNames = [];
      {% for food in foods %}
        foodNames.push("{{ food.food_name }}");
      {% endfor %}

      function populateFoodList(){
        foodList.textContent = "";
        let query = foodSearch.value;

        function fuzzyDistance(q, s){
          let result = levenshteinDistance(q, s);
          for(i = 0; i <= s.length - q.length; i++){
            result = Math.min(result, levenshteinDistance(q, s.substring(i, i + q.length)) + i * 0.01);
          }
          return result;
        }

        function searchCompare(a, b){
          let aDistance = fuzzyDistance(query.toLowerCase(), a.toLowerCase());
          let bDistance = fuzzyDistance(query.toLowerCase(), b.toLowerCase());
          //console.log(a, b, aDistance, bDistance);
          return aDistance - bDistance;
        }

        if(query){
          foodNames.sort(searchCompare);
        }

        for(i = 0; i < foodNames.length; i++){
          let foodName = foodNames[i];
          let foodDiv = document.createElement("div");
          foodDiv.className = "food";
          let foodTextDiv = document.createElement("div");
          foodTextDiv.className = "food-text";
          foodTextDiv.textContent = foodNames[i];
          let foodAddBtn = document.createElement("button");
          foodAddBtn.className = "add-button";
          foodAddBtn.onclick = function () { 
            let foodWeight = document.getElementById("foodWeightGrams").value ?? 0;
            pickFood(foodName, foodWeight); 
          };
          foodAddBtn.textContent = "+";

          foodDiv.append(foodTextDiv);
          foodDiv.append(foodAddBtn);
          foodList.append(foodDiv);
        }
      }

      function populatePickedFoods(){
        divPickedFoods.textContent = "";
        for(let foodName in pickedFoods){
          let foodWeight = pickedFoods[foodName];

          let divPickedFood = document.createElement("div");
          divPickedFood.className = "picked-food";
          let pickedFoodNameText = document.createElement("div");
          pickedFoodNameText.className = "picked-food-name";
          pickedFoodNameText.textContent = foodName;
          let pickedFoodWeightText = document.createElement("div");
          pickedFoodWeightText.className = "picked-food-weight";
          pickedFoodWeightText.textContent = foodWeight + "g";
          divPickedFood.append(pickedFoodNameText);
          divPickedFood.append(pickedFoodWeightText);
          divPickedFoods.append(divPickedFood);
        }
      }

      function addFoodDataToPost(){
        let formData = document.forms["newRecipeForm"]["picked_foods"];
        formData.value = JSON.stringify(pickedFoods);
      }
    </script>
  </head>
  <body>
    <form name="newRecipeForm" action="new-recipe" method="post" onsubmit="addFoodDataToPost()">
        {% csrf_token %}
        {{ recipe_form }}
        <input type="hidden" name="picked_foods" value="" id="picked_foods">
        <input type="submit" value="OK">
    </form>    
    <div class="picked-foods" id="divPickedFoods">
    </div>
    <label for="foodSearch">Food:</label>
    <input type="text" id="foodSearch" name="foodSearch" maxLength="200" oninput="populateFoodList()"/>
    <label for="foodWeightGrams">Weight (g):</label>
    <input type="number" id="foodWeightGrams" name="foodWeightGrams" min="0" max="10000"/>
    <div id="foodList">
    </div>
    <script>populateFoodList()</script>
  </body>
</html>