{% extends "recipes/master.html" %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block head %}
  {% include "recipes/food-picker-head.html" %}
{% endblock %}

{% block content %}
    <h1>{{ recipe.name }}</h1>
    <p>{{ recipe.description }}</p>
    <form name="updateRecipeForm" method="post" action="{{recipe.id}}" onSubmit="addFoodDataToPost('updateRecipeForm')">
        {% csrf_token %}        
        <input type="hidden" name="picked_foods" value="" id="picked_foods">
        <input type="submit" value="Save changes">
    </form>
    {% include "recipes/food-picker.html" %}
{% endblock %}