body {
	background-color: f2f4ef;
	font-family: "Roboto", sans-serif;
}

.recipe-row {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: left;
}

.basket {
	background-color: 677a77;
	color: f2f4ef;
	border-radius: 200px;
}

button{
	border: none;
	outline: none;
	background: none;
	border-radius: 3px;
}

.clear-btn {
	margin-right: 10px;
	background-color: rgb(223, 223, 223);
}

.clear-btn:hover {
	background-color: rgb(243, 243, 243);
}

.clear-btn:active {
	background-color: rgb(190, 190, 190);
}

.primary-btn{
	background-color: rgb(233, 130, 45);
	color: #f2f4ef;
	font-size: 1em;
	font-weight: bolder;
	padding: 5px 20px;
	text-align: center;
}

.primary-btn:hover{
	background-color: rgb(255, 142, 50);
}

.primary-btn:active{
	background-color: rgb(190, 105, 35);
}

#new-recipe{
	margin-top: 20px;
}

.recipe-property{
	width: 100px;
}

.recipe-property-title{
	font-size: 0.6em;
}

.recipes{
	text-align: center;
}

.recipes-title{
	padding-top: 20px;
	padding-bottom: 10px;
}

.recipe-name{
	flex-grow: 1;
	text-align: right;
	padding-right: 20px;
	width: 80px;
}

.recipe-name > a{
}

.recipe-name > a:link{
	color:rgb(233, 130, 45);
}

.recipe-name > a:hover{	
	color:rgb(190, 105, 35);
}

.recipe-name > a:visited{	
	color:rgb(194, 120, 60);
}

.recipe-row-end{
	flex-grow: 1;
	display: flex;
	width: 80px;
}

.recipe-button{
	width: 40px;
	text-align: center;
	font-weight: bolder;
	margin-left: 5px;
	margin-right: 5px;
	border: none;
	background: none;
	font-size: 1.5em;
	text-shadow: 1px 1px 0px grey;
}

.recipe-button:hover{
	color:rgb(233, 130, 45);
}

.recipe-button:active{
	color:rgb(190, 105, 35);
}